<!DOCTYPE html>


<!--
        HTML file shows the rtsp url cams line, every <img> == one defrente cam
        for every can you could create an video_feed_x funxtion in the main.py
        with same way as the examples and put ther your url
-->


<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Pi Video Surveillance</title>
    </head>

    <body>
        <h1>Home Glifada</h1>
        <table >
            <td>
                <tr><img alt="" src="{{ url_for('video_feed_1') }}">&nbsp</tr>
                <tr><img alt="" src="{{ url_for('video_feed_2') }}"></tr>
            </td>
            <td>
                <tr><img alt="" src="{{ url_for('video_feed_3') }}">&nbsp</tr>
                <tr><img alt="" src="{{ url_for('video_feed_4') }}"></tr>
            </td>
        </table>
    </body>
</html>



<style>

    @media screen and (min-width: 413px) {
        table {

        }

        td {

        }

        img {
            width: 49.5%;
            height: 50%;
        }
    }
</style>