<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Set Cam</title>
    </head>
    <body>
        <h1>Connect Your Cameras</h1>
        <form method="POST"> <!-- method="POST" -->
            <h4>Example:  &nbsp;&nbsp;    rtsp://root:password@192.168.1.111:554/axis-media</h4>
            <h4>OR:       &nbsp;&nbsp;    rtsp://192.168.1.111:554/axis-media</h4>
            <label for="ip1">rtsp url 1</label>
            <input name="ip1" type="text"/>
            <br/>
            <label for="ip2">rtsp url 2</label>
            <input name="ip2" type="text"/>
            <br/>
            <label for="ip3">rtsp url 3</label>
            <input name="ip3" type="text"/>
            <br/>
            <label for="ip4">rtsp url 4</label>
            <input name="ip4" type="text"/>
            <br/>
            <button name="submit_btn" type="submit" class="btn btn-primary" value="submit">Submit</button>
        </form>
    </body>
</html>
